# Quarto
/.quarto/
/_site/
/_freeze/
/.luarc.json
**/*.quarto_ipynb

# Python
.venv/
__pycache__/
*.pyc
*.egg-info
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
.python-version
.jbeval/

# IDEs
.idea/
.vscode/

# System
.DS_Store
